.title-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-main {
  display: flex;
  justify-content: center;
}

.title-sub {
  display: flex;
  justify-content: center;
}

.title-screen .search {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  justify-content: center;
}

.search input {
  -webkit-appearance: none;
  outline: none;
  border-radius: 5px;
  height: 7.75vh;
  width: 40vw;
  font-size: 4vh;
  border: 0px;
  margin-right: 10px;
}

.search button {
  -webkit-appearance: none;
  outline: none;
  height: 8vh;
  width: 30vw;
  border-radius: 5px;
  border: 0px;
  font-size: 4vh;
  background-color: darkmagenta;
  color: white
}

.recipe-display {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.ingred {
}
.ingred h2 {
  margin-left: 20px;
}

.ins {
  
}
.ins h2 {
  margin-left: 20px;
}

.ins ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.ins ol li {
  counter-increment: my-awesome-counter;
}
.ins ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
}

body {
  background-color: lightpink;
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
}
